<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>
    <body>
        <div id="header-container">
            <img id="logo">
            <div id="header">
                <div class="title">
                    <h1>Travel </h1><h1 class="orange">Planner</h1>
                </div>
                <div id="login"> 
                    <p>Log in</p>
                    <div id="divider"></div>
                    <p>Sign up</p>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="section-divider">
                <div class="grey-line"></div>
                <h2>Enter New Trip</h2>
                <div class="grey-line"></div>
            </div>
            <form id="new-trip-form">
                <div id="departure">
                    <label class="form-label">Departure Date</label>
                    <input id="departure-input" type="text" placeholder="mm/dd/yy">
                </div>
                <div id="return">
                    <label class="form-label">Return Date</label>
                    <input id="return-input" type="text" placeholder="mm/dd/yy">
                </div>
                <div id="destination">
                    <label class="form-label">Departure Date</label>
                    <input id="destination-input" type="text" placeholder="enter your destination">
                </div>
                <input id="new-trip-submit" type="submit" class="button" value="submit">

            </form>
            <div class="section-divider">
                <div class="grey-line"></div>
                <h2>Your Trips</h2>
                <div class="grey-line"></div>
            </div>
            
            <div id="trips"></div>
        
    </body>
</html>
