<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>
    <body>
        <div id="header-container">
            <img id="logo">
            <div id="header">
                <div class="title">
                    <h1>Travel </h1><h1 class="orange">Planner</h1>
                </div>
                <div id="login"> 
                    <p>Log in</p>
                    <div id="divider"></div>
                    <p>Sign up</p>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="section-divider">
                <div class="grey-line"></div>
                <h2>Enter New Trip</h2>
                <div class="grey-line"></div>
            </div>
            <form id="new-trip-form">
                <div id="departure">
                    <label class="form-label">Departure Date</label>
                    <input id="departure-input" type="text" placeholder="mm/dd/yy">
                </div>
                <div id="return">
                    <label class="form-label">Return Date</label>
                    <input id="return-input" type="text" placeholder="mm/dd/yy">
                </div>
                <div id="destination">
                    <label class="form-label">Departure Date</label>
                    <input id="destination-input" type="text" placeholder="enter your destination">
                </div>
                <input id="new-trip-submit" type="submit" class="button" value="submit">

            </form>
            <div class="section-divider">
                <div class="grey-line"></div>
                <h2>Your Trips</h2>
                <div class="grey-line"></div>
            </div>
            <div class="trip">
                <h3 class="trip-header">Your First <span>Trip</span></h3>
                <div class="trip-main">
                    <div class="photo-and-buttons">
                        <img src="" class="trip-photo">
                        <p class="add-trip">Add info</p>
                        <input name="flights" value="flights" type="submit" class="button">
                        <input name="lodging" value="lodging" type="submit" class="button">
                        <input name="notes" value="notes" type="submit" class="button">
                    </div>
                    <div class="trip-infomation">
                        <h2 class="trip-about">About Your Trip</h2>
                        <div class="trip-divider"></div>
                        <h3>Dates:</h3>
                        <p></p>
                        <div class="trip-divider"></div>
                        <div class="flights hidden">
                            <h3>Flights:</h3>
                        <p></p>
                        <div class="trip-divider"></div>
                        </div>
                        <div class="lodging hidden">
                            <h3>Lodging info:</h3>
                            <  p></p>
                            <div class="trip-divider"></div>
                        </div>
                        <h3>Packing List:</h3>
                        <div class="packing-header">
                            <input class="enter-items" type="text" placeholder="enter items">
                            <input class="button" type="submit" class="packing-submit" value="add">
                            <a href=""><img class="packing-arrow" src="" height="30px" width="30px"></a>
                        </div>
                        <div class="packing-list">
                        </div>
                        <div class="trip-divider"></div>
                        <div class="notes hidden">
                            <h3>Notes:</h3>
                            <p></p>
                            <div class="trip-divider"></div>
                        </div>
                        <p class="trip-footer">Your first trip is days away!!</p>
                    </div>
                </div>
            </div>
            
        </div>
        
    </body>
</html>
