<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>
    <body>
        <div id="header-container">
            <img id="logo">
            <div id="header">
                <div class="title">
                    <h1>Travel </h1><h1 class="orange">Planner</h1>
                </div>
                <div id="login"> 
                    <p>Log in</p>
                    <div id="divider"></div>
                    <p>Sign up</p>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="section-divider">
                <div class="grey-line"></div>
                <h2>Enter New Trip</h2>
                <div class="grey-line"></div>
            </div>
            <form id="new-trip-form">
                <div id="departure">
                    <label class="form-label">Departure Date</label>
                    <input id="departure-input" type="text" placeholder="dd/mm/yyyy">
                </div>
                <div id="return">
                    <label class="form-label">Return Date</label>
                    <input id="return-input" type="text" placeholder="dd/mm/yyyy">
                </div>
                <div id="destination">
                    <label class="form-label">Destination</label>
                    <input id="destination-input" type="text" placeholder="enter your destination">
                </div>
                <button id="new-trip-submit" type="button" class="button">Add Trip</button>

            </form>
            <div class="section-divider">
                <div class="grey-line"></div>
                <h2>Your Trips</h2>
                <div class="grey-line"></div>
            </div>

            <div id="trips"></div>

            <!--Pop Up Forms-->
            <div id="popup-forms">
                <div class="flights-popup-form hidden-form popup-form" id="">
                    <form>
                        <div id="departure-airport">
                            <label class="form-label">Departure Airport</label>
                            <input type="text" name="Departure-Airport" class="flights-form-input" placeholder="enter airport">
                        </div>
                        <div id="depatrue-time">
                            <label class="form-label">Departure Time</label>
                            <input type="text" name="Departure-Time" class="flights-form-input" placeholder="enter time">
                        </div>
                        <div id="return-airport">
                            <label class="form-label">Return Airport</label>
                            <input type="text" name="Return-Airport" class="flights-form-input" placeholder="enter airport">
                        </div>
                        <div id="retur-time">
                            <label class="form-label">Return Time</label>
                            <input type="text" name="Return-Time" class="flights-form-input" placeholder="enter time">
                        </div>
                        <button class="form-cancel button" name="flights" type="button">Cancel</button>
                        <button class="form-submit button" name="flights" type="button">Submit</button>
                    </form>
                </div>
            </div>
            
        
    </body>
</html>
