<!DOCTYPE html>
<html>
    <div id="#" class="trip">
        <h3 class="trip-header">Your First <span>Trip</span></h3>
        <div class="trip-main">
            <div class="photo-and-buttons">
                <img src="#" class="trip-photo">
                <div class="add-info">
                    <p class="add-header drop-header">Add Info</p>
                    <div class="drop-content">
                        <input name="flights" value="+flights" type="submit" class="button">
                        <input name="lodging" value="+lodging" type="submit" class="button">
                        <input name="notes" value="+notes" type="submit" class="button">
                    </div>
                </div>
                
            </div>
            <div class="trip-infomation">
                <h2 class="trip-about">Details</h2>
                <div class="trip-divider"></div>
                <h3>Dates:</h3>
                <p></p>
                <div class="trip-divider"></div>
                <div class="flights hidden">
                    <h3>Flights:</h3>
                    <p></p>
                <div class="trip-divider"></div>
                </div>
                <div class="lodging hidden">
                    <h3>Lodging info:</h3>
                    <p></p>
                    <div class="trip-divider"></div>
                </div>
                <h3>Packing List:</h3>
                <div class="packing-header">
                    <input class="enter-items" type="text" placeholder="enter items">
                    <input class="button" type="submit" class="packing-submit" value="add">
                    <a href="#"><img class="packing-arrow" src="#" height="30px" width="30px"></a>
                </div>
                <div class="packing-list">
                </div>
                <div class="trip-divider"></div>
                <div class="notes hidden">
                    <h3>Notes:</h3>
                    <p></p>
                    <div class="trip-divider"></div>
                </div>
                <p class="trip-footer">Your first trip is <span></span>days away!!</p>
            </div>
        </div>
    </div>
</html>
